.breadcrumb {
  padding:20px 0;
  margin:0;
  background:none;
}

.breadcrumb > li + li:before {
  content:">";
  font-size:10px;
}

.breadcrumb a {
  color:#388E3C;
  line-height:20px;
  font-size:14px;
  cursor:pointer;
}

.breadcrumb > .active {
  color:#666;
}

@media (min-width:1200px) {
  .breadcrumb {
    max-width:940px;
  }
}

@media (min-width:992px) {
  .breadcrumb {
    max-width:940px;
  }
}

